<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- FontAwesome -->
        <script src="https://kit.fontawesome.com/1a451b1708.js" crossorigin="anonymous"></script>
        <!-- Css -->
        <link rel="stylesheet" href="/css/styles.css">
        <title>Crafsy</title>
    </head>
    <body class="detail">
        <header>
            <div class="top">
                <div class="logo">
                    <a href="/">
                        <img src="/images/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="burger">
                <input type="checkbox" name="burger" id="burger" checked>
                <label for="burger"><i class="fas fa-ellipsis-v"></i></label>
                <nav>
                    <ul class="menu">
                        <li><a href="">Smartphones</a></li>
                        <li><a href="">Tablets</a></li>
                        <li><a href="">Notebooks</a></li>
                    </ul>
                    <ul class="user">
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Registro</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>

            <section class="imagenes">
                <div class="img-principal">
                    <img src="/images/productos/_0003_2020_Capri-_BasicPack_PhantomBlack_PDP-Hero.png" alt="">
                </div>
                <div class="img-secundarias">
                    <img src="/images/productos/_0003_2020_Capri-_BasicPack_PhantomBlack_PDP-Hero.png" alt="">
                    <img src="/images/productos/_0005_2020_Capri-_BasicPack_PhantomBlack_Front-View.png" alt="">
                    <img src="/images/productos/_0000_2020_Capri-_BasicPack_PhantomBlack_Backside.png" alt="">
                    <img src="/images/productos/168343-800-auto.png" alt="">
                </div>
            </section>
            <section class="product-detail">
                <h2>Motorola </h2>
                <h1>Celular Motorola Moto G52 6+128 Gb Black</h1>
                <small>20%</small>
                <span>$56000</span>
                <p class="precio">$44800</p>
                <div class="sumar-carrito">
                    <div class="restar">-</div>
                    <input type="number">
                    <div class="agregar">+</div>
                </div>
                <aside>
                    <h3>Aprovecha las promociones</h3>
                    <article>
                        <p>iconito</p>
                        <p>Envio gratis</p>
                    </article>
                    <article>
                        <p>iconito</p>
                        <p>14 cuotas sin interes</p>
                    </article>
                    <article>
                        <p>iconito</p>
                        <p>descuentos en tarjetas seleccionadas</p>
                    </article>
                </aside>
                <button>Comprar producto</button>
            </section>
            <section>
                <h2>Detalle del producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum numquam, placeat eius perferendis aspernatur doloribus aliquid, quibusdam aperiam hic a tenetur! Quis rem aut qui expedita ut aspernatur nisi officiis.</p>
            </section>
            <section class="relacionados">
                <h2>Productos relacionados</h2>
                <article>
                    <div>
                        <img src="/images/productos/Moto-G100-pdp-kv-render-Iridescent-Sky-8g7y85otv.png" alt="">
                    </div>
                    <span></span>
                    <p></p>
                    <h4></h4>
                    <button>añadir al carrito</button>
                </article>
                <article>
                    <div>
                        <img src="/images/productos/specs-header.png" alt="">
                    </div>
                    <span></span>
                    <p></p>
                    <h4></h4>
                    <button>añadir al carrito</button>
                </article>
                <article>
                    <div>
                        <img src="/images/img-phone-02.png" alt="">
                    </div>
                    <span></span>
                    <p></p>
                    <h4></h4>
                    <button>añadir al carrito</button>
                </article>
                <article>
                    <div>
                        <img src="/images/productos/164953-800-auto.png" alt="">
                    </div>
                    <span></span>
                    <p></p>
                    <h4></h4>
                    <button>añadir al carrito</button>
                </article>
            </section>
        </main>
        <footer>

        </footer>
    </body>
</html>