<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- FontAwesome -->
        <script src="https://kit.fontawesome.com/1a451b1708.js" crossorigin="anonymous"></script>
        <!-- Css -->
        <link rel="stylesheet" href="/css/styles.css">
        <title>Crafsy</title>
    </head>
    <body class="detail">
        <header>
            <div class="top">
                <div class="logo">
                    <a href="/">
                        <img src="/images/logo.png" alt="">
                    </a>
                </div>
            </div>
            <div class="burger">
                <input type="checkbox" name="burger" id="burger" checked>
                <label for="burger"><i class="fas fa-ellipsis-v"></i></label>
                <nav>
                    <ul class="menu">
                        <li><a href="">Smartphones</a></li>
                        <li><a href="">Tablets</a></li>
                        <li><a href="">Notebooks</a></li>
                    </ul>
                    <ul class="user">
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Registro</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>

            <section>
                <div class="img-principal">
                    <img src="https://jumboargentina.vteximg.com.br/arquivos/ids/707081/Samsung-Galaxy-M23-5g-Light-Blue-Sm-m236b-1-889178.jpg?v=637914441832200000" alt="">
                </div>
                <div class="img-secundarias">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
            </section>
            <section>
                <h2>Marca del producto</h2>
                <h1>Nombre del producto</h1>
                <small>descuento</small>
                <span>Precio</span>
                <p>Precio final</p>
                <div class="sumar-carrito">
                    <div class="restar">-</div>
                    <input type="number">
                    <div class="agregar">+</div>
                </div>
                <aside>
                    <h3>Aprovecha las promociones</h3>
                    <article>
                        <p>iconito</p>
                        <p>Envio gratis</p>
                    </article>
                    <article>
                        <p>iconito</p>
                        <p>14 cuotas sin interes</p>
                    </article>
                    <article>
                        <p>iconito</p>
                        <p>descuentos en tarjetas seleccionadas</p>
                    </article>
                </aside>
                <button>Comprar producto</button>
            </section>
            <section>
                <h2>Detalle del producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum numquam, placeat eius perferendis aspernatur doloribus aliquid, quibusdam aperiam hic a tenetur! Quis rem aut qui expedita ut aspernatur nisi officiis.</p>
            </section>
            <section>
                <h2>Productos relacionados</h2>
                <article>
                    <div>
                        <img src="" alt="">
                    </div>
                    <span></span>
                    <p></p>
                    <h4></h4>
                    <button>añadir al carrito</button>
                </article>
                <article>
                    <div>
                        <img src="" alt="">
                    </div>
                    <span></span>
                    <p></p>
                    <h4></h4>
                    <button>añadir al carrito</button>
                </article>
                <article>
                    <div>
                        <img src="" alt="">
                    </div>
                    <span></span>
                    <p></p>
                    <h4></h4>
                    <button>añadir al carrito</button>
                </article>
                <article>
                    <div>
                        <img src="" alt="">
                    </div>
                    <span></span>
                    <p></p>
                    <h4></h4>
                    <button>añadir al carrito</button>
                </article>
            </section>
        </main>
        <footer>

        </footer>
    </body>
</html>